@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  @apply bg-black;
}

body {
  @apply flex flex-col h-screen w-screen justify-center items-center;
  @apply bg-gradient-to-b from-primary-700 to-black;
}

button,
li {
  font-family: "ArtifaktElement-Regular";
}

p {
  font-family: "ArtifaktElement-Regular";
  @apply text-base font-light leading-relaxed;
}

.section {
  @apply flex flex-col px-4  md:px-12 py-32 z-10 relative;
}
